{% extends "layout.twig" %}

{% block pagetitle %}Info page example{% endblock %}

{% block page %}
<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb">
        <li><a href="./index.html">Home</a></li>
          <li class="active">À propos du congrès</li>
      </ol>
      <div class="page-header">
          <h1>À propos du congrès</h1>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <img class="img-responsive" style="width:100%;" src="https://www.eda.admin.ch/content/dam/Weltkongress%20zum%20Jugendstrafrecht/image/brazil_sao-luis_juvenile-prison-visit_odile-meylan_588x184.jpg/_jcr_content/renditions/cq5dam.thumbnail.588.184.png" alt="Some cats image">
    <h3>26–30.1.2015 – Genève (Suisse)<br/>Centre International de Conférences de Genève – CICG</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio tempora, quaerat! Corporis itaque ipsam doloremque repellendus obcaecati optio in cupiditate, excepturi rerum nihil suscipit, ad officia accusamus quibusdam quos nobis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam similique quasi quis eveniet tenetur aliquam aut, omnis! Eaque animi dignissimos minima reprehenderit delectus sapiente quisquam ratione laboriosam iusto.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio tempora, quaerat! Corporis itaque ipsam doloremque repellendus obcaecati optio in cupiditate, excepturi rerum nihil suscipit, ad officia accusamus quibusdam quos nobis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam similique quasi quis eveniet tenetur aliquam aut, omnis! Eaque animi dignissimos minima reprehenderit delectus sapiente quisquam ratione laboriosam iusto. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum mollitia molestiae consequatur. Veritatis beatae animi consequatur, quis, distinctio explicabo et, molestias corporis rem obcaecati excepturi! Odit distinctio consequuntur, laudantium temporibus.</p>
    <hr>
  </div>
</div>

{% endblock %}