<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block pagetitle %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../css/tdh.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <div class="container">

            <header>
                <div class="row">
                    <div class="col-sm-3">
                        <img src="/img/tdh-logo-fr.png" alt="" class="isolate img-responsive">
                    </div>
                    <div class="col-sm-9">
                        <div class="btn-group pull-right isolate hidden-xs">
                            <a href="#" class="btn btn-primary">FR</a>
                          <a href="#" class="btn btn-default">DE</a>
                          <a href="#" class="btn btn-default">EN</a>
                          <a href="#" class="btn btn-default">ES</a>
                      </div>
                        <h1 class="h3">Congrès Mondial sur la Justice Juvénile</h1>

                    </div>
                </div>
            </header>
        </div>
        <div class="well-tdh isolate-inner">
            <div class="container">
                 <div class="row">
                    <div class="col-sm-12">
                        <div class="isolate">
                            <nav class="navbar navbar-default" role="navigation">
                                <div class="container-fluid">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a class="navbar-brand visible-xs" href="./index.thml">MENU</a>
                                    </div>

                                    <!-- Collect the nav links -->
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav">
                                            <li><a href="./index.html">Accueil</a></li>
                                            <li><a href="./program.html">Programme</a></li>
                                            <li><a href="./speakers.html">Intervenants</a></li>
                                            <li><a href="./info.html">Informations</a></li>
                                            <li class="visible-xs text-center">
                                                  <div class="btn-group isolate">
                                            <a href="#" class="btn btn-primary">FR</a>
                                            <a href="#" class="btn btn-default">DE</a>
                                            <a href="#" class="btn btn-default">EN</a>
                                            <a href="#" class="btn btn-default">ES</a>
                                        </div>
                                            </li>
                                        </ul>

                                    </div><!-- /.navbar-collapse -->
                                </div><!-- /.container-fluid -->
                            </nav>
                        </div>
                    </div>
                </div>
            {% block page %}{% endblock %}
            </div>
            </div>



            <footer class="footer-tdh super-isolate-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <p><strong>Contact</strong></p>
                            <p>Mission Permanente de la Suisse auprès des Nations Unies à Genève<br/>
                                <a href="mailto:mission-geneve-oi@eda.admin.ch">mission-geneve-oi@eda.admin.ch</a>
                            </p>
                            <hr>
                            <p>Fondation Terre des hommes<br>
                                    <a href="mailto:JJ2015@tdh.ch">JJ2015@tdh.ch</a>
                            </p>
                            {# <img src="/img/logo_ch.png" alt="" width="300"> #}
                        </div>
                        <div class="col-sm-4">

                        </div>
                        <div class="col-sm-4">

                        </div>
                    </div>
                </div>
            </footer>

        </div>
        <script src="../js/vendors.min.js"></script>
        <script src="../js/main.min.js"></script>
    </body>
</html>