{% extends "layout.twig" %}

{% block pagetitle %}Session page example{% endblock %}

{% block page %}
<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb">
      <li><a href="./index.html">Home</a></li>
      <li><a href="./program.html">Program</a></li>
      <li class="active">Discussion sur l'amélioration des lois et procédures en justice juvénile</li>
    </ol>
    <div class="page-header">
      <h1>Discussion sur l'amélioration des lois et procédures en justice juvénile</h1>
    </div>
  </div>
</div>
<div class="row">
  <article class="col-md-8 col-md-offset-2 session">
    <div>
      <img class="img-responsive" src="http://lorempixel.com/1600/400/cats" alt="Some cats image">
    </div>
    <div class="content">
      <div class="meta">
        <p><small><em>with <a href="#">Oddy Osmani</a></em></small></p>
        <p><strong>26 janvier 2015 14:00 - 16:00</strong> <span class="text-muted bullet">Table ronde d'experts <span class="bullet"><strong class="text-success">FR</strong> ES EN</span></span></p>
      </div>

      <p>Body. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti aliquid obcaecati at unde, possimus cumque eaque omnis delectus exercitationem. Adipisci voluptatem perferendis magni minus eaque facere modi ipsa quis iure. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum fuga necessitatibus, pariatur, eos ipsa suscipit vitae omnis reiciendis, soluta, cumque porro assumenda? Quaerat magnam, vel inventore molestias, voluptate saepe veritatis.</p>
      <p>Body. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti aliquid obcaecati at unde, possimus cumque eaque omnis delectus exercitationem. Adipisci voluptatem perferendis magni minus eaque facere modi ipsa quis iure. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum fuga necessitatibus, pariatur, eos ipsa suscipit vitae omnis reiciendis, soluta, cumque porro assumenda? Quaerat magnam, vel inventore molestias, voluptate saepe veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus reprehenderit veritatis debitis! Aliquid nostrum quam eum possimus, quod, dolore sint omnis commodi ullam repellat nesciunt, non iusto nam nisi ipsum.</p>

      <div class="row">
        <div class="col-md-6 col-xs-6">
          <div class="thumbnail speaker">
            <div class="media">
              <a class="pull-left" href="./speaker.html">
                <img class="media-object" src="http://lorempixel.com/64/64/cats" style="width: 80px; height: 80px;">
              </a>
              <div class="media-body">
                <h4 class="media-heading"><a href="./speaker.html">John Doe</a></h4>
                <p class="text-muted">
                  Ingénieur informaticien
                </p>
                <p>
                  Intervient 20 min pour introduire la discussion
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xs-6">
          <div class="thumbnail speaker">
            <div class="media">
              <a class="pull-left" href="./speaker.html">
                <img class="media-object" src="http://lorempixel.com/64/64/cats" style="width: 80px; height: 80px;">
              </a>
              <div class="media-body">
                <h4 class="media-heading"><a href="./speaker.html">John Doe</a></h4>
                <p class="text-muted">
                  Ingénieur informaticien
                </p>
                <p>
                  Intervient 20 min pour introduire la discussion
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xs-6">
          <div class="thumbnail speaker">
            <div class="media">
              <a class="pull-left" href="./speaker.html">
                <img class="media-object" src="http://lorempixel.com/64/64/cats" style="width: 80px; height: 80px;">
              </a>
              <div class="media-body">
                <h4 class="media-heading"><a href="./speaker.html">John Doe</a></h4>
                <p class="text-muted">
                  Ingénieur informaticien
                </p>
                <p>
                  Intervient 20 min pour introduire la discussion
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="text-center">
        <iframe width="100%" height="400" src="//www.youtube.com/embed/O2ulyJuvU3Q" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
</div>
  <hr>
  <div class="resources">
    <h2>Resources</h2>
    <ul class="media-list">
      <li class="media">
        <!-- Ajouter des pictos selon le type de fichier? -->
        <span class="pull-left media-object glyphicon glyphicon-file"></span>
        <div class="media-body">
          <h4 class="media-heading">Media heading with a title a little longer <small class="text-success">EN</small></h4>
          <p><a href="#" class="btn btn-xs btn-primary">Download</a></p>
        </div>
      </li>
      <li class="media">
        <span class="pull-left media-object glyphicon glyphicon-film"></span>
        <div class="media-body">
          <h4 class="media-heading">Media heading <small class="text-success">EN</small></h4>
          <p><a href="#" class="btn btn-xs btn-primary">Download</a></p>
        </div>
      </li>
      <li class="media">
        <span class="pull-left media-object glyphicon glyphicon-picture"></span>
        <div class="media-body">
          <h4 class="media-heading">Media heading <small class="text-success">EN</small></h4>
          <p><a href="#" class="btn btn-xs btn-primary">Download</a></p>
        </div>
      </li>
      <li class="media">
        <span class="pull-left media-object glyphicon glyphicon-bookmark"></span>
        <div class="media-body">
          <h4 class="media-heading">Media heading with a title a little longer <small class="text-success">EN</small></h4>
          <p><a href="#" class="btn btn-xs btn-primary">Download</a></p>
        </div>
      </li>
    </ul>
  </article>
</div>
<div class="resources">
  <h2>Resources Links</h2>
  <ul class="media-list">
    <li class="media">
      <!-- Ajouter des pictos selon le type de fichier? -->
      <div class="media-body">
        <h4 class="media-heading"><a href="#">Media heading with a title a little longer</a> <small class="text-success">EN</small></h4>
      </div>
    </li>
    <li class="media">
      <div class="media-body">
        <h4 class="media-heading"><a href="#">Media heading with a title a little longer</a> <small class="text-success">EN</small></h4>
      </div>
    </li>
  </ul>
</div>
</article>
</div>
{% endblock %}