{% extends "layout.twig" %}

{% block pagetitle %}Speaker page example{% endblock %}

{% block page %}

    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
            <li><a href="./index.html">Home</a></li>
            <li><a href="./speakers.html">Speakers</a></li>
              <li class="active">M. Cat</li>
          </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <img class="img-responsive" src="http://lorempixel.com/800/800/cats" alt="Some cats image">
      </div>
      <div class="col-sm-8">
        <h1 class="media-heading">Name of the speaker <small></small></h1>
        <p class="text-muted">Job Title</p>
        <div class="bio">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam deserunt nisi quae sed tenetur, nostrum similique ad vero? Praesentium amet, commodi ipsum a id explicabo! Amet saepe nisi alias ipsam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quibusdam obcaecati quam nam necessitatibus vitae nesciunt repellendus quae. Tenetur ipsa quis incidunt, odio quam accusantium omnis rerum. Nam, iste, officiis!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam deserunt nisi quae sed tenetur, nostrum similique ad vero? Praesentium amet, commodi ipsum a id explicabo! Amet saepe nisi alias ipsam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quibusdam obcaecati quam nam necessitatibus vitae nesciunt repellendus quae. Tenetur ipsa quis incidunt, odio quam accusantium omnis rerum. Nam, iste, officiis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium explicabo ex reiciendis sequi rerum atque quia inventore eligendi repellat provident, eius aspernatur voluptatibus autem dolor dolorem accusamus, quibusdam, sed quis.</p>
        </div>

        <div class="list-group">
          <a href="#" class="list-group-item">
            <h6 class="list-group-item-heading">Email</h6>
            <p class="list-group-item-text">example@example.com</p>
          </a>
          <a href="#" class="list-group-item">
            <h6 class="list-group-item-heading">Site internet</h6>
            <p class="list-group-item-text">http://example.com</p>
          </a>
          <a href="#" class="list-group-item">
            <h6 class="list-group-item-heading">LinkedIn Profile</h6>
            <p class="list-group-item-text">http://linkedin.com/test</p>
          </a>
        </div>

        <hr>

        <div class="row">
  <div class="col-sm-12 spacer-bottom">
    <h2>Interventions de M. X</h2>
    <h3 class="h4"><a href="./program.html">Découvrez le programme complet</a></h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="thumbnail session">
      <img src="http://lorempixel.com/600/400/cats" alt="Some cats image">
      <div class="caption clearfix">
        <h4>Discussion sur l'amélioration des lois et procédures en justice juvénile</h4>
        <p><strong>14:00 - 16:00</strong> <span class="text-muted bullet">Table ronde d'experts <span class="bullet"><strong class="text-success">FR</strong> ES EN</span></span></p>
        <p>Excerpt. Lorem ipsum dolor sit amet.</p>
        <small class="pull-left"><em>with <a href="#">Oddy Osmani</a></em></small>
        <a href="./session.html" class="btn btn-primary pull-right" role="button">Read more</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail session">
      <img src="http://lorempixel.com/600/400/cats" alt="Some cats image">
      <div class="caption clearfix">
        <h4>Discussion sur l'amélioration des lois et procédures en justice juvénile</h4>
        <p><strong>14:00 - 16:00</strong> <span class="text-muted bullet">Table ronde d'experts <span class="bullet"><strong class="text-success">FR</strong> ES EN</span></span></p>
        <p>Excerpt. Lorem ipsum dolor sit amet.</p>
        <small class="pull-left"><em>with <a href="#">Oddy Osmani</a></em></small>
        <a href="./session.html" class="btn btn-primary pull-right" role="button">Read more</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail session">
      <img src="http://lorempixel.com/600/400/cats" alt="Some cats image">
      <div class="caption clearfix">
        <h4>Discussion sur l'amélioration des lois et procédures en justice juvénile</h4>
        <p><strong>14:00 - 16:00</strong> <span class="text-muted bullet">Table ronde d'experts <span class="bullet"><strong class="text-success">FR</strong> ES EN</span></span></p>
        <p>Excerpt. Lorem ipsum dolor sit amet.</p>
        <small class="pull-left"><em>with <a href="#">Oddy Osmani</a></em></small>
        <a href="./session.html" class="btn btn-primary pull-right" role="button">Read more</a>
      </div>
    </div>
  </div>
</div>

      </div>
    </div>
{% endblock %}