{% extends "layout.twig" %}

{% block pagetitle %}Session page example{% endblock %}

{% block page %}
<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb">
        <li><a href="./index.html">Home</a></li>
          <li class="active">Speakers</li>
      </ol>
      <div class="page-header">
          <h1>Speakers</h1>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="thumbnail speaker clearfix">
      <div class="media">
        <a class="pull-left" href="./speaker.html">
          <img class="media-object" src="http://lorempixel.com/64/64/cats" style="width: 80px; height: 80px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="./speaker.html">John Doe</a></h4>
          <p class="text-muted">Ingénieur informaticien</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail speaker clearfix">
      <div class="media">
        <a class="pull-left" href="./speaker.html">
          <img class="media-object" src="http://lorempixel.com/64/64/cats" style="width: 80px; height: 80px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="./speaker.html">John Doe</a></h4>
          <p class="text-muted">Ingénieur informaticien</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail speaker clearfix">
      <div class="media">
        <a class="pull-left" href="./speaker.html">
          <img class="media-object" src="http://lorempixel.com/64/64/cats" style="width: 80px; height: 80px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="./speaker.html">John Doe</a></h4>
          <p class="text-muted">Ingénieur informaticien</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="thumbnail speaker clearfix">
      <div class="media">
        <a class="pull-left" href="./speaker.html">
          <img class="media-object" src="http://lorempixel.com/64/64/cats" style="width: 80px; height: 80px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="./speaker.html">John Doe</a></h4>
          <p class="text-muted">Ingénieur informaticien</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail speaker clearfix">
      <div class="media">
        <a class="pull-left" href="./speaker.html">
          <img class="media-object" src="http://lorempixel.com/64/64/cats" style="width: 80px; height: 80px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="./speaker.html">John Doe</a></h4>
          <p class="text-muted">Ingénieur informaticien</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail speaker clearfix">
      <div class="media">
        <a class="pull-left" href="./speaker.html">
          <img class="media-object" src="http://lorempixel.com/64/64/cats" style="width: 80px; height: 80px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="./speaker.html">John Doe</a></h4>
          <p class="text-muted">Ingénieur informaticien</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="thumbnail speaker clearfix">
      <div class="media">
        <a class="pull-left" href="./speaker.html">
          <img class="media-object" src="http://lorempixel.com/64/64/cats" style="width: 80px; height: 80px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="./speaker.html">John Doe</a></h4>
          <p class="text-muted">Ingénieur informaticien</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail speaker clearfix">
      <div class="media">
        <a class="pull-left" href="./speaker.html">
          <img class="media-object" src="http://lorempixel.com/64/64/cats" style="width: 80px; height: 80px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="./speaker.html">John Doe</a></h4>
          <p class="text-muted">Ingénieur informaticien</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail speaker clearfix">
      <div class="media">
        <a class="pull-left" href="./speaker.html">
          <img class="media-object" src="http://lorempixel.com/64/64/cats" style="width: 80px; height: 80px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="./speaker.html">John Doe</a></h4>
          <p class="text-muted">Ingénieur informaticien</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="thumbnail speaker clearfix">
      <div class="media">
        <a class="pull-left" href="./speaker.html">
          <img class="media-object" src="http://lorempixel.com/64/64/cats" style="width: 80px; height: 80px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="./speaker.html">John Doe</a></h4>
          <p class="text-muted">Ingénieur informaticien</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail speaker clearfix">
      <div class="media">
        <a class="pull-left" href="./speaker.html">
          <img class="media-object" src="http://lorempixel.com/64/64/cats" style="width: 80px; height: 80px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="./speaker.html">John Doe</a></h4>
          <p class="text-muted">Ingénieur informaticien</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail speaker clearfix">
      <div class="media">
        <a class="pull-left" href="./speaker.html">
          <img class="media-object" src="http://lorempixel.com/64/64/cats" style="width: 80px; height: 80px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="./speaker.html">John Doe</a></h4>
          <p class="text-muted">Ingénieur informaticien</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}