/*doc
---
title: Header
name: a-header
category: Layout - Header
---

```html_example
<div class="border-top-tdh">

<div class="row">
    <div class="col-sm-4">
        <img src="img/tdh-logo-fr.png" alt="" class="isolate">
    </div>
    <div class="col-sm-8">

    </div>
</div>


</div>
```

*/
body, .border-top-tdh{
  background:transparent url('../img/header-border-orange.png') center top repeat-x;
  padding-top:30px;
}
.well-tdh{
    background: #ccc url('../img/bg.jpg') center top;
}

/*doc
---
title: Spacer
name: a-spacer
category: Layout - Spacer
---

```html_example
<div class="super-isolate">

</div>
<div class="isolate">

</div>
```

*/
.isolate{
    margin-top: 10px;
    margin-bottom: 10px;
}
.isolate-inner{
    padding-top: 10px;
    padding-bottom: 10px;
}
.super-isolate{
    margin-top: 30px;
    margin-bottom: 30px;
}
.super-isolate-inner{
    padding-top: 30px;
    padding-bottom: 30px;
}

.region-sub-nav {
    @extend .pull-right;
}