/*doc
---
title: Basic Page
name: a-basic-page
category: TDH Justice Juvenile - Basic Page
---

| Field | Type | Full | Teaser |
|-------|------|:----:|:------:|
| Title | Text | ✘ | ✘ |
| Body + Excerpt | Body | ✘ | ✘ |
| Featured | Boolean | ✘ | ✘ |
| Banner Image | Image | ✘ | ✘ |
| Event Day | Taxonomy | ✘ | ✘ |

*/

/*doc
---
title: Full Display
name: b-basic-page-full-display
category: TDH Justice Juvenile - Basic Page
---

```html_example
Full
```

*/

/*doc
---
title: Teaser Display
name: c-basic-page-teaser-display
category: TDH Justice Juvenile - Basic Page
---

```html_example
Teaser
```

*/