/*doc
---
title: Basic Page
name: a-basic-page
category: TDH Justice Juvenile - Basic Page
---

| Field | Type | Full | Teaser |
|-------|------|:----:|:------:|
| Title | Text | ✘ | ✘ |
| Body + Excerpt | Body | ✘ | ✘ |
| Featured | Boolean | ✘ | ✘ |
| Banner Image | Image | ✘ | ✘ |
| Event Day | Taxonomy | ✘ | ✘ |

*/

/*doc
---
title: Full Display
name: b-basic-page-full-display
category: TDH Justice Juvenile - Basic Page
---

```html_example
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <img class="img-responsive" src="http://lorempixel.com/1600/600/cats" alt="Some cats image">
    <h1>Title of the page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio tempora, quaerat! Corporis itaque ipsam doloremque repellendus obcaecati optio in cupiditate, excepturi rerum nihil suscipit, ad officia accusamus quibusdam quos nobis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam similique quasi quis eveniet tenetur aliquam aut, omnis! Eaque animi dignissimos minima reprehenderit delectus sapiente quisquam ratione laboriosam iusto.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio tempora, quaerat! Corporis itaque ipsam doloremque repellendus obcaecati optio in cupiditate, excepturi rerum nihil suscipit, ad officia accusamus quibusdam quos nobis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam similique quasi quis eveniet tenetur aliquam aut, omnis! Eaque animi dignissimos minima reprehenderit delectus sapiente quisquam ratione laboriosam iusto. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum mollitia molestiae consequatur. Veritatis beatae animi consequatur, quis, distinctio explicabo et, molestias corporis rem obcaecati excepturi! Odit distinctio consequuntur, laudantium temporibus.</p>
    <hr>
    <p class="text-danger">[event days list teaser display]</p>
  </div>
</div>
```

*/

/*doc
---
title: Teaser Display
name: c-basic-page-teaser-display
category: TDH Justice Juvenile - Basic Page
---

```html_example
<div class="row">
  <div class="col-sm-6">
    <div class="thumbnail">
      <img src="http://lorempixel.com/800/200/cats" alt="Some cats image">
      <div class="caption clearfix">
        <h3>Page title</h3>
        <p>Excerpt. Lorem ipsum dolor sit amet.</p>
        <a href="#" class="btn btn-primary pull-right" role="button">Read more</a>
      </div>
    </div>
  </div>
</div>
```

*/