/*doc
---
title: Basic Page
name: a-basic-page
category: TDH Justice Juvénile - Basic Page
---

| Field | Type | Full | Teaser |
|-------|------|:----:|:------:|
| Title | Text | ✘ | ✘ |
| Body + Excerpt | Body | ✘ | ✘ |
| Featured | Boolean | ✘ | ✘ |
| Banner Image | Image | ✘ | ✘ |
| Event Day | Taxonomy | ✘ | ✘ |

*/

/*doc
---
title: Full Display
name: b-full-display
category: TDH Justice Juvénile - Basic Page
---

```html_example
Full
```

*/

/*doc
---
title: Featured Display
name: c-featured-display
category: TDH Justice Juvénile - Basic Page
---

```html_example
Featured
```

*/