/*doc
---
title: Session
name: a-session
category: TDH Justice Juvenile - Session
---

| Field | Type | Full | Teaser |
|-------|------|:----:|:------:|
| Title | Text | ✘ | ✘ |
| Body + Excerpt | Body | ✘ | ✘ |
| Featured | Boolean | ✘ | ✘ |
| Session Name | Text | ✘ | ✘ |
| Image | Image | ✘ | ✘ |
| Session Type | Taxonomy | ✘ | ✘ |
| Main Language | Taxonomy | ✘ | ✘ |
| Languages | Taxonomy (multiple) | ✘ | ✘ |
| Resources | Field Collection (multiple) | ✘ | |
| Youtube | URL (Youtube module?) | ✘ | |
| Session Day | Taxonomy | ✘ | ✘ |
| Hours | Date | ✘ | ✘ |
| Speaker | Entity (multiple) | ✘ | ✘ |

**Field Collection:** ***Resources***

| Field | Type |
|-------|------|
| Title | Text |
| Type | List (Radio) |
| Language | List (Radio) |

Session types:

 - Atelier
 - Présentation
 - Discussion
 - Séance plénière
 - Autres (Break, Lunch, ...)

*/

/*doc
---
title: Full Display
name: b-session-full-display
category: TDH Justice Juvenile - Session
---

```html_example
<div class="row">
  <div class="col-md-3">
    <p class="text-danger">[speaker teaser display]</p>
  </div>
  <article class="col-md-9 session">
    <div>
      <img class="img-responsive" src="http://lorempixel.com/800/200/cats" alt="Some cats image">
    </div>
    <div class="content">
      <h1>Discussion sur l'amélioration des lois et procédures en justice juvénile</h1>

      <div class="meta">
        <p><small><em>with <a href="#">Oddy Osmani</a></em></small></p>
        <p><strong>26 janvier 2015 14:00 - 16:00</strong> <span class="text-muted bullet">Table ronde d'experts <span class="bullet"><strong class="text-success">FR</strong> ES EN</span></span></p>
      </div>

      <p>Body. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti aliquid obcaecati at unde, possimus cumque eaque omnis delectus exercitationem. Adipisci voluptatem perferendis magni minus eaque facere modi ipsa quis iure. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum fuga necessitatibus, pariatur, eos ipsa suscipit vitae omnis reiciendis, soluta, cumque porro assumenda? Quaerat magnam, vel inventore molestias, voluptate saepe veritatis.</p>
      <p>Body. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti aliquid obcaecati at unde, possimus cumque eaque omnis delectus exercitationem. Adipisci voluptatem perferendis magni minus eaque facere modi ipsa quis iure. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum fuga necessitatibus, pariatur, eos ipsa suscipit vitae omnis reiciendis, soluta, cumque porro assumenda? Quaerat magnam, vel inventore molestias, voluptate saepe veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus reprehenderit veritatis debitis! Aliquid nostrum quam eum possimus, quod, dolore sint omnis commodi ullam repellat nesciunt, non iusto nam nisi ipsum.</p>
      <div class="text-center">
        <iframe width="100%" height="400" src="//www.youtube.com/embed/O2ulyJuvU3Q" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <hr>
    <div class="resources">
      <h2>Resources</h2>
      <ul class="media-list">
        <li class="media">
          <!-- Ajouter des pictos selon le type de fichier? -->
          <span class="pull-left media-object glyphicon glyphicon-file"></span>
          <div class="media-body">
            <h4 class="media-heading">Media heading with a title a little longer <small class="text-success">EN</small></h4>
            <p><a href="#" class="btn btn-xs btn-primary">Download</a></p>
          </div>
        </li>
        <li class="media">
          <span class="pull-left media-object glyphicon glyphicon-film"></span>
          <div class="media-body">
            <h4 class="media-heading">Media heading <small class="text-success">EN</small></h4>
            <p><a href="#" class="btn btn-xs btn-primary">Download</a></p>
          </div>
        </li>
        <li class="media">
          <span class="pull-left media-object glyphicon glyphicon-picture"></span>
          <div class="media-body">
            <h4 class="media-heading">Media heading <small class="text-success">EN</small></h4>
            <p><a href="#" class="btn btn-xs btn-primary">Download</a></p>
          </div>
        </li>
        <li class="media">
          <span class="pull-left media-object glyphicon glyphicon-bookmark"></span>
          <div class="media-body">
            <h4 class="media-heading">Media heading with a title a little longer <small class="text-success">EN</small></h4>
            <p><a href="#" class="btn btn-xs btn-primary">Download</a></p>
          </div>
        </li>
      </ul>
  </article>
</div>
```

*/

.resources {
  h2 {
    margin-bottom: 15px;
  }
  .media {
    &:first-child {
      margin-top: 15px;
    }
    .glyphicon {
      font-size: 45px;
    }
  }
}

iframe {
  max-width: 100%;
}

/*doc
---
title: Teaser Display
name: c-session-featured-display
category: TDH Justice Juvenile - Session
---

```html_example
<div class="row">
  <div class="col-sm-12">
    <h2>Renforcer le système de justice juvénile</h2>
    <h3 class="h4">26 janvier 2015</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="thumbnail session">
      <img src="http://lorempixel.com/800/200/cats" alt="Some cats image">
      <div class="caption clearfix">
        <h4>Discussion sur l'amélioration des lois et procédures en justice juvénile</h4>
        <p><strong>14:00 - 16:00</strong> <span class="text-muted bullet">Table ronde d'experts <span class="bullet"><strong class="text-success">FR</strong> ES EN</span></span></p>
        <p>Excerpt. Lorem ipsum dolor sit amet.</p>
        <small class="pull-left"><em>with <a href="#">Oddy Osmani</a></em></small>
        <a href="#" class="btn btn-primary pull-right" role="button">Read more</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail session">
      <img src="http://lorempixel.com/800/200/cats" alt="Some cats image">
      <div class="caption clearfix">
        <h4>Discussion sur l'amélioration des lois et procédures en justice juvénile</h4>
        <p><strong>14:00 - 16:00</strong> <span class="text-muted bullet">Table ronde d'experts <span class="bullet"><strong class="text-success">FR</strong> ES EN</span></span></p>
        <p>Excerpt. Lorem ipsum dolor sit amet.</p>
        <small class="pull-left"><em>with <a href="#">Oddy Osmani</a></em></small>
        <a href="#" class="btn btn-primary pull-right" role="button">Read more</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail session">
      <img src="http://lorempixel.com/800/200/cats" alt="Some cats image">
      <div class="caption clearfix">
        <h4>Discussion sur l'amélioration des lois et procédures en justice juvénile</h4>
        <p><strong>14:00 - 16:00</strong> <span class="text-muted bullet">Table ronde d'experts <span class="bullet"><strong class="text-success">FR</strong> ES EN</span></span></p>
        <p>Excerpt. Lorem ipsum dolor sit amet.</p>
        <small class="pull-left"><em>with <a href="#">Oddy Osmani</a></em></small>
        <a href="#" class="btn btn-primary pull-right" role="button">Read more</a>
      </div>
    </div>
  </div>
</div>
<hr>
```

*/

.bullet {
  &:before {
      content: '• ';
    }
}

.thumbnail {
  h4 {
    margin-top: 2px;
  }
}