/*doc
---
title: Session
name: a-session
category: TDH Justice Juvenile - Session
---

| Field | Type | Full | Teaser |
|-------|------|:----:|:------:|
| Title | Text | ✘ | ✘ |
| Body + Excerpt | Body | ✘ | ✘ |
| Featured | Boolean | ✘ | ✘ |
| Event Name | Text | ✘ | ✘ |
| Image | Image | ✘ | ✘ |
| Session Type | Taxonomy | ✘ | ✘ |
| Main Language | Taxonomy | ✘ | ✘ |
| Languages | Taxonomy (multiple) | ✘ | ✘ |
| Resources | Field Collection (multiple) | ✘ | |
| Youtube | URL (Youtube module?) | ✘ | |
| Event Day | Taxonomy | ✘ | ✘ |
| Hours | Date | ✘ | ✘ |
| Speaker | Entity | ✘ | ✘ |

**Field Collection:** ***Resources***

| Field | Type |
|-------|------|
| Title | Text |
| Type | List (Radio) |
| Language | List (Radio) |

Session types:

 - Atelier
 - Présentation
 - Discussion
 - Séance plénière
 - Autres (Break, Lunch, ...)

*/

/*doc
---
title: Full Display
name: b-session-full-display
category: TDH Justice Juvenile - Session
---

```html_example
Full
```

*/

/*doc
---
title: Teaser Display
name: c-session-featured-display
category: TDH Justice Juvenile - Session
---

```html_example
Teaser
```

*/