/*doc
---
title: Speaker
name: a-speaker
category: TDH Justice Juvenile - Speaker
---

| Field | Type | Full | Teaser |
|-------|------|:----:|:------:|
| Title | Text | ✘ | ✘ |
| Body + Excerpt | Body | ✘ | ✘ |
| Featured | Boolean | ✘ | ✘ |
| Name | Text | ✘ | ✘ |
| Image | Image | ✘ | ✘ |
| Email | Text | ✘ | |
| URL | Text | ✘ | |
| Language | Taxonomy (Checkbox) | ✘ | |

*/

/*doc
---
title: Full Display
name: b-teaser-full-display
category: TDH Justice Juvenile - Speaker
---

```html_example
Full
```

*/

/*doc
---
title: Teaser Display
name: c-speaker-teaser-display
category: TDH Justice Juvenile - Speaker
---

```html_example
Teaser
```

*/