/*doc
---
title: Speaker
name: a-speaker
category: TDH Justice Juvenile - Speaker
---

| Field | Type | Full | Teaser |
|-------|------|:----:|:------:|
| Title | Text | ✘ | ✘ |
| Body + Excerpt | Body | ✘ | ✘ |
| Featured | Boolean | ✘ | ✘ |
| Name | Text | ✘ | ✘ |
| Job Title | Text | ✘ | ✘ |
| Image | Image | ✘ | ✘ |
| Email | Text | ✘ | |
| URL | Text | ✘ | |
| Language | Taxonomy (Checkbox) | ✘ | |

*/

/*doc
---
title: Full Display
name: b-teaser-full-display
category: TDH Justice Juvenile - Speaker
---

```html_example
<div class="row">
  <div class="col-sm-4">
    <img class="img-responsive" src="http://lorempixel.com/800/800/cats" alt="Some cats image">
  </div>
  <div class="col-sm-8">
    <h1 class="media-heading">Name of the speaker <small></small></h1>
    <p class="text-muted">Job Title</p>
    <div class="bio">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam deserunt nisi quae sed tenetur, nostrum similique ad vero? Praesentium amet, commodi ipsum a id explicabo! Amet saepe nisi alias ipsam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quibusdam obcaecati quam nam necessitatibus vitae nesciunt repellendus quae. Tenetur ipsa quis incidunt, odio quam accusantium omnis rerum. Nam, iste, officiis!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam deserunt nisi quae sed tenetur, nostrum similique ad vero? Praesentium amet, commodi ipsum a id explicabo! Amet saepe nisi alias ipsam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quibusdam obcaecati quam nam necessitatibus vitae nesciunt repellendus quae. Tenetur ipsa quis incidunt, odio quam accusantium omnis rerum. Nam, iste, officiis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium explicabo ex reiciendis sequi rerum atque quia inventore eligendi repellat provident, eius aspernatur voluptatibus autem dolor dolorem accusamus, quibusdam, sed quis.</p>
    </div>

    <div class="list-group">
      <a href="#" class="list-group-item">
        <h6 class="list-group-item-heading">Email</h6>
        <p class="list-group-item-text">example@example.com</p>
      </a>
      <a href="#" class="list-group-item">
        <h6 class="list-group-item-heading">Site internet</h6>
        <p class="list-group-item-text">http://example.com</p>
      </a>
      <a href="#" class="list-group-item">
        <h6 class="list-group-item-heading">LinkedIn Profile</h6>
        <p class="list-group-item-text">http://linkedin.com/test</p>
      </a>
    </div>

    <hr>
    <p class="text-danger">[list of sessions from this speaker]</p>
  </div>
</div>
```

*/

/*doc
---
title: Teaser Display
name: c-speaker-teaser-display
category: TDH Justice Juvenile - Speaker
---

```html_example
<div class="row">
  <div class="col-sm-4">
    <div class="thumbnail speaker clearfix">
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="http://lorempixel.com/64/64/cats" style="width: 80px; height: 80px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="#">John Doe</a></h4>
          <p class="text-muted">Ingénieur informaticien</p>
        </div>
      </div>
    </div>
  </div>
</div>
```

*/