/*doc
---
title: Taxonomies
name: a-taxonomies
category: TDH Justice Juvenile - Taxonomies
---

**Event Day**

| Field | Type |
|-------|------|
| Title | Text |
| Subtitle | Text |
| Body + Excerpt | Body |
| Date | Date |

**Session Type**

| Field | Type |
|-------|------|
| Title | Text |
| Body + Excerpt | Body |
| Image | Image |

**Language**

| Field | Type |
|-------|------|
| Title | Text |


*/
