/*doc
---
title: Taxonomies
name: a-taxonomies
category: TDH Justice Juvenile - Taxonomies
---

**Event Day**

| Field | Type |
|-------|------|
| Title | Text |
| Subtitle | Text |
| Body + Excerpt | Body |
| Date | Date |

**Session Type**

| Field | Type |
|-------|------|
| Title | Text |
| Body + Excerpt | Body |
| Image | Image |

**Language**

| Field | Type |
|-------|------|
| Title | Text |

```html_example
<div class="row">
  <div class="col-sm-2 col-sm-offset-1">
    <div class="text-huge text-center">
      <a class="btn btn-default text-huge active" href="#">26</a>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="text-huge text-center">
      <a class="btn btn-default text-huge" href="#">27</a>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="text-huge text-center">
      <a class="btn btn-default text-huge" href="#">28</a>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="text-huge text-center">
      <a class="btn btn-default text-huge" href="#">29</a>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="text-center">
      <a class="btn btn-default text-huge" href="#">30</a>
    </div>
  </div>
</div>​
```

*/
